
        @import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
        
        body
        {
            background-color: black;
        }
        
        .in
        {
            background-color: hsl(216, 12%, 8%);
            border-radius: 20px;
            height:8.5cm;
            width:9cm;
            position:absolute;
            padding:25px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .tgi
        {
            height:1cm;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .q
        {
            height:1cm;
        }

        .para
        {
            height: fit-content;
            margin:7px 0 0 0;
        }

        .rate
        {
            height:2cm
        }

        .butt
        {
            height:1.25cm;
            align-items: center;
        }
        
        p
        {
            color:hsl(216, 12%, 54%);
            margin:0;
            font-family: 'Overpass', sans-serif;
            font-size: 15px;
            font-weight: 400;
        }
        
        h1
        {
            color:white;
            margin:25px 0 0 0;
            font-size: 20px;
            border-top:6px solid transparent;
            font-family: 'Overpass', sans-serif;
            font-weight:700;
        }

        .one
        {
            border-radius:50%;
            padding:11px;
            height:1.15cm;
            width:1.15cm;
            background-color:hsl(213, 19%, 18%);
        }
       
        button
        {
            border: none;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin:0;
        }

        .spaced
        {
            margin:10px 25px 0 0;
            position: relative;
            top:20px;
            color:hsl(216, 12%, 54%);
        }
        
        .subBut
        {
            background-color:hsl(25, 97%, 53%);
            width:9cm;
            height:1cm;
            border-radius:40px;
            color:white;
            letter-spacing: 2px;
            text-align: center;
            margin:32px 0 0 0;   
        }

        .spaced:hover
        {
            cursor:pointer;
            background-color:hsl(25, 97%, 53%);
        }

        .subBut:hover
        {
            background-color:white;
            color:hsl(25, 97%, 53%);
            cursor:pointer;
        }